@use "setup";

$colour1: #042259;
$colour2: #f5c8cf;
$colour3: #f0f5ff;
$colour4: #fcdde2;
$colour5: #1f2022;
$colour6: #1d81cc;

$font1: 'Emblema One', cursive;
$font2: 'Barlow', sans-serif;
$font3: 'Catamaran', sans-serif;

// General Styles
html {
  font-size: 125%;
}
img {
  max-width: 100%;
  display: block;
}
.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0;
}
section {
  padding: 100px 0;
}
h2 {
  font-family: $font1;
  font-size: 2.1rem;
  text-align: center;
  text-transform: uppercase;
  color: $colour6;
}
p {
  font-family: $font2;
  line-height: 1.45rem;
  letter-spacing: 0.01rem;
}
button {
  font-family: $font1;
  text-align: center;
  line-height: 1.45rem;
  text-transform: uppercase;
  border: none;
  padding: 15px;
}

// Header
header {
  background-image: url(./assets/header-alt.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  ul {
    display: flex;
    justify-content: right;

    li {
      font-family: $font3;
      font-size: 0.9rem;
      text-align: right;
      line-height: 1.45rem;
      text-transform: uppercase;
      padding-left: 50px;

      a {
        color: $colour1;
      }
    }
  }

  h1 {
    font-family: $font1;
    font-size: 5.23rem;
    line-height: 4.37rem;
    color: $colour6;
    text-transform: uppercase;
    margin-top: 25vh;
  }

  h2 {
    font-family: $font2;
    font-size: 1.86rem;
    line-height: 1.9rem;
    letter-spacing: 0.02rem;
    color: $colour1;
    text-align: left;
    text-transform: lowercase;
  }
}

// Main
// News
.news {
background-color: $colour4;

  .imgContainer {
    display: flex;
    padding-top: 30px;
    
    img {
      margin: 20px;
      width: calc((100% / 3) - 40px);
    }
  }
}

// Best
.best {
  background-color: $colour4;
  
  .wrapper {
    display: flex;

    

    div {
      padding-left: 50px;

      h2 {
        text-align: left;
      }

      p {
        margin-top: 15px;
      }
      .button1 {
        background: $colour1;
        color: $colour3;
        margin-top: 25px;
      }
    }
  }
}

// Smoothie


// New Home


// Other


// Footer
// Call


// Copyright


// Media Queries
