@use "setup";

$colour1: #042259;
$colour2: #f5c8cf;
$colour3: #f0f5ff;
$colour4: #fcdde2;
$colour5: #1f2022;
$colour6: #1d81cc;
$colour7: #ffffff;

$font1: 'Emblema One', cursive;
$font2: 'Barlow', sans-serif;
$font3: 'Catamaran', sans-serif;

// General Styles
html {
  font-size: 125%;
}
img {
  max-width: 100%;
  display: block;
}
.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0;
}
section {
  padding: 100px 0;
}

h2 {
  font-family: $font1;
  font-size: 2.1rem;
  text-transform: uppercase;
  color: $colour6;
}
h4,
.menu2 {
  font-family: $font1;
  font-size: 1.25rem;
  color: $colour6;
  text-transform: uppercase;
}
p {
  font-family: $font2;
  line-height: 1.45rem;
  letter-spacing: 0.01rem;
}
button {
  font-family: $font1;
  text-align: center;
  line-height: 1.45rem;
  text-transform: uppercase;
  border: none;
  padding: 15px;
}

// Header
header {
  background-image: url(./assets/header-alt.png);
  background-size: cover;
  background-position: center;
  height: 100vh;

  .toggle, .toggle-label {
    display: none;
  }

  ul {
    display: flex;
    justify-content: right;
    padding-top: 15px;

    a {
      font-family: $font3;
      font-size: 0.9rem;
      text-align: right;
      line-height: 1.45rem;
      text-transform: uppercase;
      padding-left: 50px;
      color: $colour1;
    }
  }

  h1 {
    font-family: $font1;
    font-size: 5.23rem;
    line-height: 4.37rem;
    color: $colour6;
    text-transform: uppercase;
    margin-top: 20vh;

    span::before { 
      content: '\A'; 
      white-space: pre; 
    }
  }

  h2 {
    font-family: $font2;
    font-size: 1.86rem;
    line-height: 1.9rem;
    letter-spacing: 0.02rem;
    color: $colour1;
    text-transform: lowercase;
    padding-top: 20px;
  }

  .brand-icon {
    position: absolute;
    right: 50px;
    top: 125px;
    
    li {
      color: $colour6;
      padding-bottom: 10px;
      text-align: center;
    }
  }
}

// Main
// News
.news {
  background-color: $colour4;

  h2 {
    text-align: center;
  }

  .imgContainer {
    display: flex;
    padding-top: 30px;
    
    img {
      margin: 20px;
      width: calc((100% / 3) - 40px);
    }
  }
}

// Best
.best {
  background-color: $colour4;
  padding-top: 0;
  
  .wrapper {
    display: flex;

    div {
      padding-left: 50px;

      h2 {
        text-align: left;
      }

      p {
        margin-top: 15px;
      }

      .button1 {
        background: $colour1;
        color: $colour7;
        margin-top: 25px;
      }
    }
  }
}

// Smoothie
.smoothie {
  background-color: $colour3;
  position: relative;
  padding: 137px 0;
  
  h2 {
    width: 40%;
  }

  p {
    margin: 10px 0;
    width: 45%;
  }

  .img-right {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0; 
  }
}

.button2, .button3 {
  color: $colour1;
  background-color: $colour2;
  margin-top: 10px;
}

// New Home
.new-home {
  background-color: $colour3;
  position: relative;
  padding: 137px 0;

  .img-left {
    position: absolute;
    width: 50%;
    top: 0;
    left: 0; 
  }

  .new-home-info {
    width: 45%;
    margin-left: auto;

    p {
      margin: 10px 0;
    }
  }
}

// Other Links
.links {
  background-color: $colour4;
  
  .wrapper {
    display: flex;
    justify-content: space-evenly;

    .icons {
      display: flex;
      flex-direction: column;

      .comm {
        display: none;
      }

      i {
        color: $colour1;
        text-align: center;
        font-size: 3rem;
        padding-bottom: 20px;
      }

      a {
        font-family: $font1;
        font-size: 1.56rem;
        color: $colour6;
        text-transform: uppercase;
      }
    }
  }
} 

// Footer
// Call to Action
.action {
  background-color: $colour3;
  
  .wrapper {
    display: flex;

    p {
      padding-top: 10px;
    }

    .newsletter {
      width: 65%;

      input {
        border: 1px solid $colour2;
        height: 59px;
        width: 65%;
      }
    }

    .con-men {
      width: 50%;
      display: flex;
      justify-content: space-between;
      
      .menu2 {
        text-align: right;
        
        a {
          padding-bottom: 10px;
          color: $colour6;
        }
      }
    }
  }
}

// Copyright
.copyright {
  background-color: $colour1;
  color: $colour7;
  text-align: center;
  padding: 10px 0;
}

// Media Queries
@media (max-width: 770px) {
  // General
  .wrapper {
    max-width: 770px;
    width: 90%;
  }

  // Header
  header {
    h1 {
      font-size: 4rem;
      margin-top: 15vh;
      line-height: 3rem;
    }

    h2 {
      font-size: 2rem;
      padding-top: 0px;
    }
  }

  // Best
  .best .wrapper {
    display: block;

    img {
      width: 100vw;
    }

    div {
      padding: 15px 0 0 0;
      text-align: center;

      h2 {
        text-align: center;
        padding: 0 10px;
      }

      p {
        text-align: left;
      }
    }
  }

  // Smoothie
  .smoothie {
    padding: 0;
    
    .img-right {
      position: relative;
      width: 100vw;
    }

    .wrapper {
      text-align: center;

      h2 {
        width: 100%;
        padding: 50px 0;
      }

      p {
        text-align: left;
        width: 100%;
      }
    }
  }

  // New Home
  .new-home {
    padding: 50px 0;

    .img-left {
      position: relative;
      width: 100vw;
    }

    .new-home-info {
      width: 100%;
      margin-left: 0;
      text-align: center;

      h2 {
        padding: 50px 0;
      }
      
      p {
        text-align: left;
      }
    }
  }
}

@media (max-width: 480px) {
  // General
  section {
    padding: 50px 0;
  }
  .wrapper {
    max-width: 480px;
  }
  h2 {
    font-size: 1.5rem;
  }

  // Header
  header {
    background-image: url(./assets/header-alt-mobile.png);
    padding-top: 10vh;

    nav, .toggle {
      display: none;
    }
    .toggle:checked ~ nav {
      display: block;
    }
    .toggle-label {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      margin: 1em 1em 0 0;
    }

    h1 {
      font-size: 3rem;
      margin-top: 10vh;
      line-height: 3rem;
    }

    h2 {
      font-size: 1rem;
      padding-top: 0px;
    }

    .brand-icon {
      display: none;
    }
  }

  // Main
  // News
  .news .imgContainer {
    img {
      margin: 10px;
      width: calc((100% / 2) - 20px);
    }

    .img3 {
      display: none;
    }
  }

  // Smoothie
  .smoothie, .new-home {
    background-color: $colour4;
  }

  .button2 {
    background: $colour1;
    color: $colour7;
    margin-top: 25px;
  }

  // Other Links
  .links {
    background-color: $colour2;

    .wrapper {
      flex-direction: column;

      .icons {
        margin-bottom: 15px;

        .jobs {
          display: none;
        }
        .comm {
          display: block;
        }

        a {
          text-align: center;
          padding-bottom: 20px;
        }
      } 
    }
  } 

  // Footer
  // Call to Action
  .action {
    .wrapper {
      flex-direction: column;

      .newsletter {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding-bottom: 50px;
        
        p {
          font-size: 0.9rem;
          margin-bottom: 15px;
        }

        input {
          width: 100%;
          text-align: center;
        }
      }

      .con-men {
        width: 100%;

        p {
          font-size: 0.85rem;

          span::before { 
            content: '\A'; 
            white-space: pre; 
          }
        }
      } 
    }
  }

  // Copyright
  .copyright {
    font-size: 0.75rem;
  }
}